* {
    box-sizing: border-box;
}

body {
background: #19202a;
}

header {
    z-index: 3;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .logo {
        width: 50px;
        img {
        width: 100%;
    }
}
nav {
    align-self: center;
    }
}
    a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 10px;
    }

#top-section {
position: relative;
height: 100vh;
}
.bluredbg {
background-image: linear-gradient(
    45deg,
    rgba(25, 32, 42, 1) 0%,
    rgba(25, 32, 42, 1) 1%,
    rgba(25, 32, 42, 1) 27%,
    rgba(25, 32, 42, 0.95) 31%,
    rgba(25, 32, 42, 0.66) 52%,
    rgba(128, 39, 206, 0.52) 62%,
    rgba(125, 185, 232, 0) 100%
    ),
    url(images/top.jpg);
background-size: cover;
height: 100vh;
width: 100%;
filter: blur(40px) saturate(130%);
position: absolute;
z-index: 1;
}
.floating-img {
position: absolute;
z-index: 2;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: flex-end;
}
.tekashi-img {
width: 30%;
img {
    width: 100%;
    filter: contrast(150%);
}
}
